USE [SMMS_1]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[DatePosted] [date] NULL,
	[Thumbnail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsentForm]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsentForm](
	[ConsentFormId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NULL,
	[ParentId] [int] NULL,
	[ConfirmDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__ConsentF__D6F184C05D279FB1] PRIMARY KEY CLUSTERED 
(
	[ConsentFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationForm]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationForm](
	[ConsultationFormId] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationSchedule]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationSchedule](
	[ConsultationScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationFormId] [int] NULL,
	[NurseId] [int] NULL,
	[Status] [int] NULL,
	[Location] [nvarchar](250) NULL,
	[ConsultDate] [datetime] NULL,
 CONSTRAINT [PK__Consulta__E128EB77987609A5] PRIMARY KEY CLUSTERED 
(
	[ConsultationScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NULL,
	[SentDate] [datetime] NULL,
	[ClassName] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK__Form__FB05B7DDF1589932] PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckResult]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckResult](
	[HealthCheckupRecordId] [int] IDENTITY(1,1) NOT NULL,
	[HealthCheckScheduleId] [int] NULL,
	[NurseId] [int] NULL,
	[HealthProfileId] [int] NULL,
	[Status] [int] NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[LeftVision] [nvarchar](10) NULL,
	[RightVision] [nvarchar](10) NULL,
	[Result] [nvarchar](150) NULL,
	[Note] [nvarchar](250) NULL,
 CONSTRAINT [PK__HealthCh__96C627663748BE55] PRIMARY KEY CLUSTERED 
(
	[HealthCheckupRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCheckSchedule]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCheckSchedule](
	[HealthCheckScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NULL,
	[ManagerId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[CheckDate] [datetime] NULL,
	[Location] [nvarchar](100) NULL,
	[Note] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[HealthCheckScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthProfile]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthProfile](
	[HealthProfileId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[BloodType] [nvarchar](5) NULL,
	[Allergies] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HealthProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalEvent]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalEvent](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[NurseId] [int] NULL,
	[EventName] [nvarchar](100) NULL,
	[EventDate] [datetime] NULL,
	[Symptoms] [nvarchar](100) NULL,
	[ActionTaken] [nvarchar](100) NULL,
	[Note] [nvarchar](250) NULL,
 CONSTRAINT [PK__MedicalE__7944C810172200E4] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalInventory]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalInventory](
	[MedicalInventoryId] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NULL,
	[Quantity] [int] NULL,
	[MedicalName] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NULL,
	[ExpiryDate] [date] NULL,
	[DateAdded] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalInventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[MedicationId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[MedicationName] [nvarchar](100) NULL,
	[PrescriptionId] [int] NULL,
	[Dosage] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[RemainingQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[NurseId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[NurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[PasswordHash] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParentPrescription]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentPrescription](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[NurseId] [int] NULL,
	[SubmittedDate] [date] NULL,
	[Schedule] [nvarchar](100) NULL,
	[ParentNote] [nvarchar](100) NULL,
	[ParentId] [int] NULL,
	[PrescriptionFile] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[StudentNumber] [nvarchar](100) NULL,
	[ClassName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[PasswordHash] [nvarchar](256) NULL,
 CONSTRAINT [PK__Student__32C52B99EC604026] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationResult]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationResult](
	[VaccinationResultId] [int] IDENTITY(1,1) NOT NULL,
	[VaccinationScheduleId] [int] NULL,
	[HealthProfileId] [int] NULL,
	[NurseId] [int] NULL,
	[Status] [int] NULL,
	[DoseNumber] [int] NULL,
	[Note] [nvarchar](150) NULL,
 CONSTRAINT [PK__Vaccinat__12DE8FF986ABA0AD] PRIMARY KEY CLUSTERED 
(
	[VaccinationResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationSchedule]    Script Date: 6/13/2025 2:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationSchedule](
	[VaccinationScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NULL,
	[ManagerId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[ScheduleDate] [datetime] NULL,
	[Location] [nvarchar](100) NULL,
	[Note] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccinationScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [ManagerId], [Title], [Content], [DatePosted], [Thumbnail]) VALUES (1, 1, N'Phòng chống bệnh tay chân miệng', N'Thông tin về cách phòng chống bệnh tay chân miệng trong trường học.', CAST(N'2024-01-05' AS Date), N'500d8730-279e-484b-81b4-1c33e32e5327.jpg')
INSERT [dbo].[Blog] ([BlogId], [ManagerId], [Title], [Content], [DatePosted], [Thumbnail]) VALUES (2, 1, N'Dinh dưỡng học đường', N'Những lưu ý về chế độ dinh dưỡng cân bằng cho học sinh.', CAST(N'2024-01-15' AS Date), NULL)
INSERT [dbo].[Blog] ([BlogId], [ManagerId], [Title], [Content], [DatePosted], [Thumbnail]) VALUES (3, 1, N'Tầm quan trọng của giấc ngủ', N'Bài viết về ảnh hưởng của giấc ngủ đối với sức khỏe và học tập.', CAST(N'2024-01-25' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsentForm] ON 

INSERT [dbo].[ConsentForm] ([ConsentFormId], [FormId], [ParentId], [ConfirmDate], [Status]) VALUES (1, 1, 1, CAST(N'2024-01-12T10:00:00.000' AS DateTime), 2)
INSERT [dbo].[ConsentForm] ([ConsentFormId], [FormId], [ParentId], [ConfirmDate], [Status]) VALUES (2, 1, 2, CAST(N'2024-01-13T11:00:00.000' AS DateTime), 1)
INSERT [dbo].[ConsentForm] ([ConsentFormId], [FormId], [ParentId], [ConfirmDate], [Status]) VALUES (3, 2, 3, CAST(N'2024-01-17T09:30:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ConsentForm] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultationForm] ON 

INSERT [dbo].[ConsultationForm] ([ConsultationFormId], [ParentId], [Title], [Content]) VALUES (1, 1, N'Tư vấn về sức khỏe của bé Nguyễn An Bình', N'Bé An Bình thường xuyên bị ho vào ban đêm, muốn được tư vấn.')
INSERT [dbo].[ConsultationForm] ([ConsultationFormId], [ParentId], [Title], [Content]) VALUES (2, 2, N'Hỏi về chế độ ăn cho bé Trần Gia Bảo', N'Bé Gia Bảo kén ăn, xin tư vấn dinh dưỡng.')
INSERT [dbo].[ConsultationForm] ([ConsultationFormId], [ParentId], [Title], [Content]) VALUES (3, 3, N'Thắc mắc về dị ứng của bé Lê Thanh Tùng', N'Bé Thanh Tùng thường bị nổi mẩn đỏ khi ăn hải sản.')
SET IDENTITY_INSERT [dbo].[ConsultationForm] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultationSchedule] ON 

INSERT [dbo].[ConsultationSchedule] ([ConsultationScheduleId], [ConsultationFormId], [NurseId], [Status], [Location], [ConsultDate]) VALUES (1, 1, 1, 1, N'Phòng y tế trường A', CAST(N'2024-03-01T10:00:00.000' AS DateTime))
INSERT [dbo].[ConsultationSchedule] ([ConsultationScheduleId], [ConsultationFormId], [NurseId], [Status], [Location], [ConsultDate]) VALUES (2, 2, 2, 1, N'Phòng y tế trường A', CAST(N'2024-03-05T14:30:00.000' AS DateTime))
INSERT [dbo].[ConsultationSchedule] ([ConsultationScheduleId], [ConsultationFormId], [NurseId], [Status], [Location], [ConsultDate]) VALUES (3, 3, 3, 1, N'Phòng y tế trường B', CAST(N'2024-03-10T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConsultationSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Form] ON 

INSERT [dbo].[Form] ([FormId], [ManagerId], [SentDate], [ClassName], [Title], [Content], [CreatedAt], [Type]) VALUES (1, 1, CAST(N'2024-01-10T09:00:00.000' AS DateTime), N'1A', N'Thông báo tiêm chủng', N'Thông báo về lịch tiêm chủng vaccine cúm cho học sinh lớp 1A.', CAST(N'2024-01-05T10:00:00.000' AS DateTime), 1)
INSERT [dbo].[Form] ([FormId], [ManagerId], [SentDate], [ClassName], [Title], [Content], [CreatedAt], [Type]) VALUES (2, 1, CAST(N'2024-01-15T10:30:00.000' AS DateTime), N'7D', N'Kế hoạch kiểm tra sức khỏe định kỳ FALL', N'Kế hoạch chi tiết cho việc kiểm tra sức khỏe tổng quát định kỳ', CAST(N'2024-01-12T11:00:00.000' AS DateTime), 2)
INSERT [dbo].[Form] ([FormId], [ManagerId], [SentDate], [ClassName], [Title], [Content], [CreatedAt], [Type]) VALUES (3, 1, CAST(N'2024-02-01T14:00:00.000' AS DateTime), N'2C', N'Thông báo khám răng', N'Thông báo về buổi khám răng miễn phí cho học sinh lớp 2C.', CAST(N'2024-01-28T15:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Form] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCheckResult] ON 

INSERT [dbo].[HealthCheckResult] ([HealthCheckupRecordId], [HealthCheckScheduleId], [NurseId], [HealthProfileId], [Status], [Height], [Weight], [LeftVision], [RightVision], [Result], [Note]) VALUES (1, 1, 1, 1, 1, 120.5, 25.2, N'10/10', N'10/10', N'Bình thường', NULL)
INSERT [dbo].[HealthCheckResult] ([HealthCheckupRecordId], [HealthCheckScheduleId], [NurseId], [HealthProfileId], [Status], [Height], [Weight], [LeftVision], [RightVision], [Result], [Note]) VALUES (2, 1, 2, 2, 1, 135, 30.1, N'8/10', N'9/10', N'Cần theo dõi thị lực', N'Nên đi khám chuyên khoa mắt')
INSERT [dbo].[HealthCheckResult] ([HealthCheckupRecordId], [HealthCheckScheduleId], [NurseId], [HealthProfileId], [Status], [Height], [Weight], [LeftVision], [RightVision], [Result], [Note]) VALUES (3, 1, 3, 3, 1, 128, 27.5, N'10/10', N'10/10', N'Bình thường', NULL)
SET IDENTITY_INSERT [dbo].[HealthCheckResult] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCheckSchedule] ON 

INSERT [dbo].[HealthCheckSchedule] ([HealthCheckScheduleId], [FormId], [ManagerId], [Name], [CheckDate], [Location], [Note]) VALUES (1, 2, 1, N'Kiểm tra sức khỏe học sinh toàn trường lần 1', CAST(N'2024-03-15T08:00:00.000' AS DateTime), N'Phòng y tế trường', N'Kiểm tra thể lực, thị lực, cân nặng, chiều cao')
INSERT [dbo].[HealthCheckSchedule] ([HealthCheckScheduleId], [FormId], [ManagerId], [Name], [CheckDate], [Location], [Note]) VALUES (2, 3, 1, N'Khám răng định kỳ lớp 2C', CAST(N'2024-03-20T09:00:00.000' AS DateTime), N'Phòng y tế trường', N'Kiểm tra sức khỏe răng miệng')
INSERT [dbo].[HealthCheckSchedule] ([HealthCheckScheduleId], [FormId], [ManagerId], [Name], [CheckDate], [Location], [Note]) VALUES (3, 6, 1, N'Kiểm tra thị lực lớp 4D', CAST(N'2024-03-25T10:00:00.000' AS DateTime), N'Phòng y tế trường', N'Kiểm tra thị lực bằng bảng đo mắt')
SET IDENTITY_INSERT [dbo].[HealthCheckSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthProfile] ON 

INSERT [dbo].[HealthProfile] ([HealthProfileId], [StudentId], [BloodType], [Allergies]) VALUES (1, 1, N'A+', N'Không')
INSERT [dbo].[HealthProfile] ([HealthProfileId], [StudentId], [BloodType], [Allergies]) VALUES (2, 2, N'B-', N'Phấn hoa')
INSERT [dbo].[HealthProfile] ([HealthProfileId], [StudentId], [BloodType], [Allergies]) VALUES (3, 3, N'O+', N'Không')
GO
SET IDENTITY_INSERT [dbo].[HealthProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([ManagerId], [FullName], [PhoneNumber], [Email], [PasswordHash]) VALUES (1, N'Nguyễn Văn A', N'0901112233', N'vana@gmail.com', N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalEvent] ON 

INSERT [dbo].[MedicalEvent] ([EventId], [StudentId], [NurseId], [EventName], [EventDate], [Symptoms], [ActionTaken], [Note]) VALUES (1, 1, 1, N'Sự kiện 1', CAST(N'2024-03-01T09:30:00.000' AS DateTime), N'Sốt, ho', N'Cho uống hạ sốt, theo dõi', N'Liên hệ phụ huynh')
INSERT [dbo].[MedicalEvent] ([EventId], [StudentId], [NurseId], [EventName], [EventDate], [Symptoms], [ActionTaken], [Note]) VALUES (2, 2, 2, N'Sự kiện 2', CAST(N'2024-03-02T10:00:00.000' AS DateTime), N'Đau bụng', N'Nghỉ ngơi tại phòng y tế', N'Ăn uống không hợp vệ sinh')
INSERT [dbo].[MedicalEvent] ([EventId], [StudentId], [NurseId], [EventName], [EventDate], [Symptoms], [ActionTaken], [Note]) VALUES (3, 3, 3, N'Sự kiện 3', CAST(N'2024-03-03T11:15:00.000' AS DateTime), N'Chóng mặt', N'Cho uống nước đường', NULL)
SET IDENTITY_INSERT [dbo].[MedicalEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalInventory] ON 

INSERT [dbo].[MedicalInventory] ([MedicalInventoryId], [ManagerId], [Quantity], [MedicalName], [Unit], [ExpiryDate], [DateAdded]) VALUES (1, 1, 100, N'Bông gòn', N'Gói', CAST(N'2025-12-31' AS Date), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[MedicalInventory] ([MedicalInventoryId], [ManagerId], [Quantity], [MedicalName], [Unit], [ExpiryDate], [DateAdded]) VALUES (2, 1, 50, N'Cồn y tế', N'Chai', CAST(N'2026-06-30' AS Date), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[MedicalInventory] ([MedicalInventoryId], [ManagerId], [Quantity], [MedicalName], [Unit], [ExpiryDate], [DateAdded]) VALUES (3, 1, 20, N'Băng gạc', N'Hộp', CAST(N'2025-10-31' AS Date), CAST(N'2024-01-05' AS Date))
SET IDENTITY_INSERT [dbo].[MedicalInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Medications] ON 

INSERT [dbo].[Medications] ([MedicationId], [StudentId], [MedicationName], [PrescriptionId], [Dosage], [Quantity], [RemainingQuantity]) VALUES (1, 1, N'Paracetamol', 1, N'500mg', 10, 10)
INSERT [dbo].[Medications] ([MedicationId], [StudentId], [MedicationName], [PrescriptionId], [Dosage], [Quantity], [RemainingQuantity]) VALUES (2, 1, N'Ibuprofen', 1, N'200mg', 6, 6)
INSERT [dbo].[Medications] ([MedicationId], [StudentId], [MedicationName], [PrescriptionId], [Dosage], [Quantity], [RemainingQuantity]) VALUES (3, 1, N'Nước muối sinh lý', 1, N'R?a mui', 1, 1)
SET IDENTITY_INSERT [dbo].[Medications] OFF
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([NurseId], [FullName], [Username], [Email], [PasswordHash]) VALUES (1, N'Nguyễn Thị Y tá 1', N'yta1', N'yta1@gmail.com', N'c')
INSERT [dbo].[Nurse] ([NurseId], [FullName], [Username], [Email], [PasswordHash]) VALUES (2, N'Trần Văn Y tá 2', N'yta2', N'yta2@gmail.com', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[Nurse] ([NurseId], [FullName], [Username], [Email], [PasswordHash]) VALUES (3, N'Lê Thị Y tá 3', N'yta3', N'yta3@gmail.com', N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[Nurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentId], [FullName], [PhoneNumber], [Email], [Address], [PasswordHash]) VALUES (1, N'Nguyễn Thị Lan', N'0911112233', N'lan.nguyen@gmail.com', N'123 Đường ABC, Quận 1, TP.HCM', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[Parent] ([ParentId], [FullName], [PhoneNumber], [Email], [Address], [PasswordHash]) VALUES (2, N'Trần Văn Minh', N'0912223344', N'minh.tran@gmail.com', N'456 Phố XYZ, Quận 2, TP.HCM', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[Parent] ([ParentId], [FullName], [PhoneNumber], [Email], [Address], [PasswordHash]) VALUES (3, N'Lê Thị Hoa', N'0913334455', N'hoa.le@gmail.com', N'789 Ngõ DEF, Quận 3, TP.HCM', N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[ParentPrescription] ON 

INSERT [dbo].[ParentPrescription] ([PrescriptionId], [NurseId], [SubmittedDate], [Schedule], [ParentNote], [ParentId], [PrescriptionFile]) VALUES (1, 1, CAST(N'2025-06-09' AS Date), N'Sáng, Tối', N'Bé bị sốt cao', 1, N'https://localhost:7024/files/blogs//8ef98348-e223-47de-8bb1-164654e85904.jpg')
INSERT [dbo].[ParentPrescription] ([PrescriptionId], [NurseId], [SubmittedDate], [Schedule], [ParentNote], [ParentId], [PrescriptionFile]) VALUES (2, 2, CAST(N'2025-06-09' AS Date), N'3 lần/ngày', N'Bé viêm họng', 2, N'presc_2.pdf')
INSERT [dbo].[ParentPrescription] ([PrescriptionId], [NurseId], [SubmittedDate], [Schedule], [ParentNote], [ParentId], [PrescriptionFile]) VALUES (3, 3, CAST(N'2025-06-09' AS Date), N'Tối', N'Bé bị dị ứng', 3, N'presc_3.pdf')
SET IDENTITY_INSERT [dbo].[ParentPrescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentId], [ParentId], [FullName], [StudentNumber], [ClassName], [DateOfBirth], [Gender], [PasswordHash]) VALUES (1, 1, N'Nguyễn An Bình', N'binhan1', N'1A', CAST(N'2015-09-01' AS Date), N'Nam', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[Student] ([StudentId], [ParentId], [FullName], [StudentNumber], [ClassName], [DateOfBirth], [Gender], [PasswordHash]) VALUES (2, 1, N'Nguyễn Cẩm Tú', N'tucn1', N'3B', CAST(N'2013-03-15' AS Date), N'Nữ', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[Student] ([StudentId], [ParentId], [FullName], [StudentNumber], [ClassName], [DateOfBirth], [Gender], [PasswordHash]) VALUES (3, 2, N'Trần Gia Bảo', N'baogt1', N'2C', CAST(N'2014-07-20' AS Date), N'Nam', N'e10adc3949ba59abbe56e057f20f883e')
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationResult] ON 

INSERT [dbo].[VaccinationResult] ([VaccinationResultId], [VaccinationScheduleId], [HealthProfileId], [NurseId], [Status], [DoseNumber], [Note]) VALUES (1, 1, 1, 1, 1, 1, N'Hoàn thành mũi 1')
INSERT [dbo].[VaccinationResult] ([VaccinationResultId], [VaccinationScheduleId], [HealthProfileId], [NurseId], [Status], [DoseNumber], [Note]) VALUES (2, 1, 2, 2, 1, 1, N'Hoàn thành mũi 1')
INSERT [dbo].[VaccinationResult] ([VaccinationResultId], [VaccinationScheduleId], [HealthProfileId], [NurseId], [Status], [DoseNumber], [Note]) VALUES (3, 1, 3, 3, 1, 1, N'Hoàn thành mũi 1')
SET IDENTITY_INSERT [dbo].[VaccinationResult] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationSchedule] ON 

INSERT [dbo].[VaccinationSchedule] ([VaccinationScheduleId], [FormId], [ManagerId], [Name], [ScheduleDate], [Location], [Note]) VALUES (1, 1, 1, N'Tiêm chủng vaccine cúm', CAST(N'2024-03-01T09:00:00.000' AS DateTime), N'Phòng y tế trường', N'Yêu cầu tiêm chủng đầy đủ')
INSERT [dbo].[VaccinationSchedule] ([VaccinationScheduleId], [FormId], [ManagerId], [Name], [ScheduleDate], [Location], [Note]) VALUES (2, 4, 1, N'Tiêm vaccine sởi', CAST(N'2024-03-05T10:00:00.000' AS DateTime), N'Phòng y tế trường', N'Dành cho học sinh chưa tiêm hoặc thiếu mũi')
INSERT [dbo].[VaccinationSchedule] ([VaccinationScheduleId], [FormId], [ManagerId], [Name], [ScheduleDate], [Location], [Note]) VALUES (3, 7, 1, N'Tiêm vaccine bạch hầu', CAST(N'2024-03-10T11:00:00.000' AS DateTime), N'Phòng y tế trường', N'Kiểm tra sổ tiêm chủng trước khi tiêm')
SET IDENTITY_INSERT [dbo].[VaccinationSchedule] OFF
GO
ALTER TABLE [dbo].[ConsultationSchedule] ADD  CONSTRAINT [DF__Consultat__IsCon__6B24EA82]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
ALTER TABLE [dbo].[ConsentForm]  WITH CHECK ADD  CONSTRAINT [FK__ConsentFo__Paren__6D0D32F4] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[ConsentForm] CHECK CONSTRAINT [FK__ConsentFo__Paren__6D0D32F4]
GO
ALTER TABLE [dbo].[ConsentForm]  WITH CHECK ADD  CONSTRAINT [FK_ConsentForm_Form] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
GO
ALTER TABLE [dbo].[ConsentForm] CHECK CONSTRAINT [FK_ConsentForm_Form]
GO
ALTER TABLE [dbo].[ConsultationForm]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[ConsultationSchedule]  WITH CHECK ADD  CONSTRAINT [FK__Consultat__Consu__6FE99F9F] FOREIGN KEY([ConsultationFormId])
REFERENCES [dbo].[ConsultationForm] ([ConsultationFormId])
GO
ALTER TABLE [dbo].[ConsultationSchedule] CHECK CONSTRAINT [FK__Consultat__Consu__6FE99F9F]
GO
ALTER TABLE [dbo].[ConsultationSchedule]  WITH CHECK ADD  CONSTRAINT [FK__Consultat__Nurse__70DDC3D8] FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[ConsultationSchedule] CHECK CONSTRAINT [FK__Consultat__Nurse__70DDC3D8]
GO
ALTER TABLE [dbo].[Form]  WITH CHECK ADD  CONSTRAINT [FK__Form__ManagerId__66603565] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
ALTER TABLE [dbo].[Form] CHECK CONSTRAINT [FK__Form__ManagerId__66603565]
GO
ALTER TABLE [dbo].[HealthCheckResult]  WITH CHECK ADD  CONSTRAINT [FK__HealthChe__Healt__72C60C4A] FOREIGN KEY([HealthCheckScheduleId])
REFERENCES [dbo].[HealthCheckSchedule] ([HealthCheckScheduleId])
GO
ALTER TABLE [dbo].[HealthCheckResult] CHECK CONSTRAINT [FK__HealthChe__Healt__72C60C4A]
GO
ALTER TABLE [dbo].[HealthCheckResult]  WITH CHECK ADD  CONSTRAINT [FK__HealthChe__Healt__73BA3083] FOREIGN KEY([HealthProfileId])
REFERENCES [dbo].[HealthProfile] ([HealthProfileId])
GO
ALTER TABLE [dbo].[HealthCheckResult] CHECK CONSTRAINT [FK__HealthChe__Healt__73BA3083]
GO
ALTER TABLE [dbo].[HealthCheckResult]  WITH CHECK ADD  CONSTRAINT [FK__HealthChe__Nurse__74AE54BC] FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[HealthCheckResult] CHECK CONSTRAINT [FK__HealthChe__Nurse__74AE54BC]
GO
ALTER TABLE [dbo].[HealthCheckSchedule]  WITH CHECK ADD  CONSTRAINT [FK__HealthChe__FormI__74AE54BC] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
GO
ALTER TABLE [dbo].[HealthCheckSchedule] CHECK CONSTRAINT [FK__HealthChe__FormI__74AE54BC]
GO
ALTER TABLE [dbo].[HealthCheckSchedule]  WITH CHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
ALTER TABLE [dbo].[HealthProfile]  WITH CHECK ADD  CONSTRAINT [FK__HealthPro__Stude__6383C8BA] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[HealthProfile] CHECK CONSTRAINT [FK__HealthPro__Stude__6383C8BA]
GO
ALTER TABLE [dbo].[MedicalEvent]  WITH CHECK ADD  CONSTRAINT [FK__MedicalEv__Nurse__787EE5A0] FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[MedicalEvent] CHECK CONSTRAINT [FK__MedicalEv__Nurse__787EE5A0]
GO
ALTER TABLE [dbo].[MedicalEvent]  WITH CHECK ADD  CONSTRAINT [FK__MedicalEv__Stude__59FA5E80] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[MedicalEvent] CHECK CONSTRAINT [FK__MedicalEv__Stude__59FA5E80]
GO
ALTER TABLE [dbo].[MedicalInventory]  WITH CHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK__Medicatio__Stude__52593CB8] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK__Medicatio__Stude__52593CB8]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_Prescription] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[ParentPrescription] ([PrescriptionId])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_Prescription]
GO
ALTER TABLE [dbo].[ParentPrescription]  WITH CHECK ADD FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[ParentPrescription]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__ParentI__4D94879B] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__ParentI__4D94879B]
GO
ALTER TABLE [dbo].[VaccinationResult]  WITH CHECK ADD  CONSTRAINT [FK__Vaccinati__Healt__7F2BE32F] FOREIGN KEY([HealthProfileId])
REFERENCES [dbo].[HealthProfile] ([HealthProfileId])
GO
ALTER TABLE [dbo].[VaccinationResult] CHECK CONSTRAINT [FK__Vaccinati__Healt__7F2BE32F]
GO
ALTER TABLE [dbo].[VaccinationResult]  WITH CHECK ADD  CONSTRAINT [FK__Vaccinati__Nurse__00200768] FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[VaccinationResult] CHECK CONSTRAINT [FK__Vaccinati__Nurse__00200768]
GO
ALTER TABLE [dbo].[VaccinationResult]  WITH CHECK ADD  CONSTRAINT [FK__Vaccinati__Vacci__01142BA1] FOREIGN KEY([VaccinationScheduleId])
REFERENCES [dbo].[VaccinationSchedule] ([VaccinationScheduleId])
GO
ALTER TABLE [dbo].[VaccinationResult] CHECK CONSTRAINT [FK__Vaccinati__Vacci__01142BA1]
GO
ALTER TABLE [dbo].[VaccinationSchedule]  WITH CHECK ADD  CONSTRAINT [FK__Vaccinati__FormI__7D439ABD] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
GO
ALTER TABLE [dbo].[VaccinationSchedule] CHECK CONSTRAINT [FK__Vaccinati__FormI__7D439ABD]
GO
ALTER TABLE [dbo].[VaccinationSchedule]  WITH CHECK ADD FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerId])
GO
